.footer{
    background: #eee;
    padding: 10px 0;
}
.foot-1{
    width:1200px;
    height:165px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.foot-1>div{
    width:300px;
    height: 100px;
    border:1px solid #ddd;
    border-radius: 4px;
    display: flex;
    padding: 34px;
}
.title{
    font-size: 16px;
}
.foot-2{
    margin-left: 23px;
}
.details{
    font-size: 12px;
    color: #999;
    margin: 12px 0;
}
.foot-2 a{
    text-decoration: none;
    font-size: 13px;
    color:#999;
    padding: 6px;
    background: #ddd;
    border-radius: 2px;
}
.r{
    margin-right: 10px;
}
/**/
.nvb{
    list-style: none;
    display: flex;
    margin:0 auto;
    width:1200px;
    justify-content: center;
    padding:34px 0 ;
    border-bottom: 1px solid #ddd;
}
.nvb a{
    text-decoration: none;
    color:#000;
    font-size: 15px;
}
.nvb li{
    margin-right: 20px;
}
.nvb a:hover{
    color: #f2473d;
}
/**/
.footer>div:nth-child(3) ul{
    list-style: none;
    width:1200px;
    margin: 0 auto;
    display: flex;
    padding: 10px 0;
}
.footer>div:nth-child(3) .lj{
    font-size: 14px;
    font-weight: bold;
    color:#999;
    line-height: 1.7;
}
.footer>div:nth-child(3) .w{
    margin-right: 20px;
    text-decoration: none;
    color:#999;
    font-size: 14px;
}
.footer>div:nth-child(3) .w:hover{
     text-decoration: none;
     color: #f2473d;
 }
.footer>div:nth-child(4){
    width:1200px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    color:#999;
    padding: 10px 0;
}
/**/
.footer>div:last-child{
    width:1200px;
    margin: auto;
    text-align: center;
    padding: 15px 0 40px 0;
}
.footer>div:last-child img:first-child{
    margin-right: 20px;
}